cytoolz==0.11.2
dnspython==2.2.1
Flask==2.1.2
heroku==0.1.4
Pillow==9.1.1
psutil==5.9.0
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.14.1
PyGetWindow==0.0.9
pymongo==4.1.1
python-telegram-bot==13.11
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
telegram==0.0.1
toolz==0.11.2
tronpy
tzdata==2022.1
tzlocal==4.2
